
.form {
    max-width: 396px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width:550px) {
    .form {
        max-width: 260px;
        margin: 40px auto 0;
        align-items: center;
    }
}

.form__heading {
    margin: 40px 0 50px;
    
    color: #2f2f2f;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.form__label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    color: #1b1b1b;
   
    align-self: flex-start;
}

.form__input {
    margin: 10px 0;
    width: 100%;
    border: 0;
    
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    color: rgb(29, 29, 29);

    transition: border-bottom 0.4s linear;
    font-size: 13px;

    background: none;
    border: 1px solid #323232;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;

}

.form__span-error {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    color: #EE3465;
    width: 100%;
}

.form__input_password {
    color: #EE3465;
}

.form__input:focus {
    background-color: #c4c4c4;
    outline: none;
}

.form__submit {
    border: 0;

    padding: 20px 0 20px;
    color: #ffffff;
    cursor: pointer;

    background-color: var(--theme-blue-color);
    border-radius: 4px;
    color: var(--theme-white-color);
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    max-width: 100%;
    width: 100%;
}

.form__submit_disabled {
    background-color: transparent;
    border: 2px solid #4286f485;
    color: #4286f485;
    cursor: not-allowed;
}

.form__p {
    color: #8B8B8B;
    text-align: center;
    margin: 15px 0 0;
    font-size: 14px;
    align-self: center;
}

.form__link {
    color: #4285F4;
    text-decoration: none;
}