.askmore {
  display: flex;
  background-color: var(--theme-white-color);
  /*max-width: calc(100% - var(--aside-width));*/
}

.askmore__content {
  padding: 40px 0;
  flex-basis: 1300px;
  padding-left: var(--aside-width);
  padding: 40px var(--aside-width);
  background-color: var(--mainpage-ti-gray-color);
  box-sizing: border-box;

  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.askmore__form-container {
  padding: 40px var(--aside-width) 0 0;
  box-sizing: border-box;
  flex-basis: 617px;

}

.askmore__form {
  max-width: calc(100%);
  margin: 0 0 0 20px;
}

