.nav__registration-link {

  border: none;
  outline: none;
  background: none;
  
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;


  padding: 6px 40px;
  box-sizing: border-box;
}

.nav__registration-link:last-of-type {
  margin-right: 0;
}