.section-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: var(--section-subtitle-fontsize);
  line-height: 34px;
  letter-spacing: -0.015em;

  color: var(--theme-text-color);
  max-width: 1162px;
  margin: 0;
}